$primary: #5855FF;
$info: rgba(87, 85, 225, 0.25);
$secondary: rgba(87, 85, 225, 0.9);
$success: rgba(0, 227, 118, 1);
$danger: #D32F2F;
$enable-rounded: true;
$enable-shadows: false;
$zindex-popover: 1060 !default;